<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Local Landings</title>
    <link rel="icon" type="image/png" href="parachuteVectorTitle.png">
            
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto|Rubik&display=swap" rel="stylesheet">
    
    <!-- <link rel="stylesheet" type="text/css" href="cardBS.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="places.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="about.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="contact.css"> -->
    <link rel="stylesheet" type="text/css" href="login.css">
    <!-- <link rel="stylesheet" type="text/css" href="signup.css"> -->
</head>
<body>
    <nav class="navbar navbar-fixed-top "> <!--Removed class="navbar_default"-->
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-demo" aria-expanded="false">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="/">Local Landings<span class="badge badge-secondary">Beta</span></h1></a>

            </div>

            <div class="collapse navbar-collapse" id="bs-demo">
                <div class="nav navbar-nav">
                    <!-- <li><a href="index.html">Home</a></li> -->
                    <li><a href="/places">Places</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </div>

                <div class="nav navbar-nav navbar-right">
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                </div>

            </div>

        </div>
    </nav>