<%- include('partials/aboutHeader') %>
<section class="mainContent">
    <div class="container">
        <div class="jumbotron aboutJumbo">
            <div id="content-div">
                 <h2 id="log-text"><b>About Local Landings</b></h2>
                 <p>
                    The diverse communities, ecosystems and environments in Cebu make it a magnet for adventure seekers, nature lovers and even just curious travellers. Along with this comes a surge in tourism in Cebu. Having all these options of places to go to, it would sometimes be helpful for people to have at least a hint of where to go, a starting point in their epic journey in the marvelous province of Cebu.<br>
                </p>
                <p>
                    Local Landings is a tourism web site that aids tourists and locals in finding alternative places and adventures to explore and experience. Local Landing is centered on directing the tourism focus not just towards well known hot spots but also the lesser known and humbler destinations. Another goal is to promote equal opportunity for all places to receive benefits from the tourism industry like publicity and revenue for them to develop even further.
                </p>
                
            </div>	
        </div>
    </div>
</section>

<%- include('partials/footer') %>