/* .navbar{
	margin: 0;
	border:0;
	background-color: white;
	box-shadow: 2px 6px 4px #888888;
}

.navbar-header>a{
	font-family: 'Permanent Marker', cursive;
	color: black;
}

.navbar-header>button{
	border:none;
}

.nav>li>a{
	font-family: 'Rubik', sans-serif;
	color: black;
}
.badge{
	font-family: 'Rubik', sans-serif;
	background-color: red;
}

.navbar-right{
	margin-right: 10%;
}
.nav>li>a:hover{
	background-color: transparent;
	color: orange;
} */

.avatar{
	border-radius: 50%;
	width: 40px;
	margin-top: 5px;
}
.add-section{
	width: 70%;
	margin:100px auto 100px auto;
}
h2{
	text-align: center;
	margin-bottom: 20px;
}


.form-table{
	text-align: left;
}
input{
	border-radius: 4px;
	border: none;
	background-color: #C4C4C4;
	height: 6vh;
	margin-left: 2px;
	margin-right: 2px;
}
td{
	font-size: 20px;
}
textarea{
	max-width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background-color: #C4C4C4;
    width: 99.5%;
    margin-left: 2px;
	margin-right: 2px;
	border-radius: 4px;
}

.btn-add{
	color: white;
	border: none;
	background-color: #FE5000;
	border-radius: 4px;
	height: 6vh;
	width: 100%;
}

.drop{
	position: relative;
  	display: inline-block;
}

.dropdown-content {
	display: none;
 	position: absolute;
 	background-color: #f9f9f9;
 	min-width: 125px;
 	z-index: 1;
}
.dropdown-content li{
	text-align: left;
	width:100%;
	height: 22px;
	margin: 0px 0px 0px 3px;
	list-style-type: none;

}
.dropdown-content ul{
	margin: 0px 0px;
	padding: 0px 0px;
}	
.dropdown-content a{
	color: black;
	text-decoration: none;
}

.drop:hover .dropdown-content{
	display: block;
}
.dropdown-content li:hover{
	background-color: #e0e0d1;
}
